.nav, .pagination, .carousel, .panel-title a, *[ui-sref] { cursor: pointer; }

.container {
  padding-top: 75px;
}

.coffee img {
  max-width: 100%;
  margin-right: 25px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: inherit
}

#services .glyphicon{
  font-size: 110px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.coffee-image{
  max-width: 100%;
}

header {
  background-image: url('../../img/coffee-planet-2.png');

}

.loginuser{
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
#intro-lead{

  color:brown;
}
#introId{
  color:brown;
}
.loginpage{
  background-image: url('../../img/coffeeBG.jpg');
  width: 100%;
  height:800px;
}
.vColor{
  color:white;
}

#lColor{
  color:black;
}
