<div class="header">
  <h1>Update Coffee</h1>
</div>

<div class="content">
  <h2 class="content-subhead">Coffee</h2>
<!-- ng-submit is only for form tag , get the data using ng-model-->
  <form ng-submit="scc.updateCoffee()" class="pure-form pure-form-stacked">
     <fieldset>
         <legend>Update Coffee:</legend>

         <label for="name">Name</label>
         <input ng-model="scc.coffee.name" id="name" type="text" placeholder="Name">

         <label for="year">Year</label>
         <input ng-model="scc.coffee.year" id="year" type="text" placeholder="year">

         <label for="description">Desc</label>
         <input ng-model="scc.coffee.description" id="desc" type="text" placeholder="desc">

         <label for="image">image</label>
         <input  ng-model="scc.coffee.image" id="image" type="text" placeholder="image">

         <button type="submit" class="pure-button pure-button-primary">Update Coffee</button>
     </fieldset>
 </form>
</div>
