<div class="loginpage">


<!-- <div class="col-md-4"> -->
<div class="col-lg-4 centered">
  <h1 class="vColor">Login</h1>
  <div ng-show="loginCtrl.error" class="alert alert-danger">{{ loginCtrl.errorMessage }}</div>
  <form class="form" ng-submit="loginCtrl.login()">
    <div class="form-group">
      <label id="lColor">Username</label>
      <input type="text" class="form-control" name="username" ng-model="loginCtrl.loginForm.username" required>
    </div>
    <div class="form-group">
      <label id="lColor">Password</label>
        <input type="password" class="form-control" name="password" ng-model="loginCtrl.loginForm.password" required>
      </div>
      <div>
        <button type="submit" class="btn btn-default btn btn-success" ng-disabled="loginCtrl.disabled">Login</button>
        <a ui-sref="register" class="btn btn-info btn btn-md">No Login!
          Register</a>
      </div>
  </form>
</div>
</div>
