<div class="container" ng-init="mcc.loadMyOrders(main.currentUser)" id = "imageAssist">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <a ui-sref="coffees" class="btn btn-danger  btn btn-lg">Browse Coffees</a>
        <h1>
          My Orders
          <!-- Pluralize 'Results' if more than 1 or 0 -->
          <!-- <small>
            ({{filteredCoffees.length}} Coffee<span ng-if="filteredCoffees.length > 1 || !filteredCoffees.length">s</span>)
          </small> -->
        </h1>
      </div>
      <div class="list-group">
        <div class="list-group-item clearfix coffee" ng-repeat="coffee in mcc.coffees | filter: coffeeFilter as filteredCoffees">
          <div class="row">
            <div class="col-sm-3 text-center">
              <img  ui-sref="coffee({id: coffee._id})" ng-src="{{ coffee.image }}">
            </div>
            <div class="col-sm-9">
              <h3> {{ coffee.name }} {{ coffee.country }} <small>{{ coffee.year }}
              </small></h3>
              <p>
                {{ coffee.description | limitTo: cc.textLimit}}
                <span ng-if="coffee.description.length > cc.textLimit">...</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
