<div id="design1">
<div class="header">
  <h1>Create New Coffee</h1>
</div>

<div class="content" >
<!-- ng-submit is only for form tag , get the data using ng-model-->
  <form ng-submit="cc.createCoffee()" class="pure-form pure-form-stacked">
     <fieldset class="new-coffee">
         <legend></legend>
         <div class="">
           <label id='lbl-new-coffee' for="name">Name</label>
           <input ng-model="cc.coffee.name" id="name" type="text" placeholder="Name" class="new-coffee-input">
         </div>
         <div>
           <label id='lbl-new-coffee' for="year">Year</label>
           <input ng-model="cc.coffee.year" id="year" type="text" placeholder="year" class="new-coffee-input">
        </div>
        <div>
          <label id='lbl-new-coffee' for="price">Price</label>
          <input ng-model="cc.coffee.price" id="price" type="text" placeholder="price" class="new-coffee-input">
       </div>
        <div>
           <label id='lbl-new-coffee' for="description">Description</label>
           <input ng-model="cc.coffee.description" id="desc" type="text" placeholder="desc" class="new-coffee-input">
         </div>
         <div>
           <label id='lbl-new-coffee' for="image">Image</label>
           <input  ng-model="cc.coffee.image" id="image" type="text" placeholder="image" class="new-coffee-input" >
         </div>
         <button type="submit" class="page-scroll btn btn-xl"">Create New Coffee</button>
     </fieldset>
 </form>
</div>
</div>
